body {
	background-color: #fefaf2;
	color: #4d354a;
}
ul {
	text-align: left;
}
.contenu {
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
}
.img-responsive {
	max-width: 100%;
}
.white {
	background-color: white;
}
